@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body.before-load:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/load.gif");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.wrap {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  top: 5%;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.picture {
  position: absolute;
  width: 100%;
  background-image: url(../img/picture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.button-wrap {
  position: absolute;
}
.before-load .button {
  opacity: 0;
}
.transitions .button {
          transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.button {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #0A653A;
  border: none;
  padding: .5em 1em;
  margin: 0 .3em 0;
  opacity: 1;
}
.button1 {

}
.button2 {

}

    /*landscape*/
@media screen and (min-aspect-ratio: 1024/754) {
  .picture {
    height: 100%;
  }
  .button-wrap {
    bottom: 50%;
    width: 100%;
  }
  .button {
    position: absolute;
    padding: 1em;
  }
  .button1 {
    left: 1em;
  }
  .button2 {
    right: 1em;
  }
}
/*portrait*/
@media screen and (max-aspect-ratio: 1024/754) {
  .picture {
    height: 80%;
  }
  .button-wrap {
    bottom: -18%;
    width: 100%;
  }
  .button {
    position: relative;
    padding: 1em;
  }
  .for-land {
    display: none;
  }
}
body {
    font-size: 12px;
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 13px;
  }
}
@media screen and (min-width: 480px) and (max-width: 700px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1100px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    font-size: 22px;
  }
}
@font-face {
  font-family: "opensans";
  src: url(../fonts/OpenSans-Semibold.ttf);
}