@charset "UTF-8";

.ladybugs {
  animation-name: ladybugs;
  animation-duration: 1s;
  -webkit-animation-name: ladybugs;
  -webkit-animation-duration: 1s;
}
.text1 {
  animation-name: animText;
  animation-duration: 1.5s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 1.5s;
}
.text2 {
  animation-name: animText;
  animation-duration: 2s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 2s;
}
.text3 {
  animation-name: animText;
  animation-duration: 2.5s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 2.5s;
}
.text4 {
  animation-name: animText;
  animation-duration: 3s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 3s;
}
.text5 {
  animation-name: animText;
  animation-duration: 4s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 4s;
}
.wrap button {
  animation-name: animText;
  animation-duration: 5s;
  -webkit-animation-name: animText;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes ladybugs {
  0% {
    background-position: 1080% -590%;
  }
  100% {
    background-position: 270% -90%;
  }
}
@keyframes ladybugs {
  0% {
    background-position: 1080% -590%;
  }
  100% {
    background-position: 270% -90%;
  }
}
@-webkit-keyframes animText {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animText {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animText {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}