/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
.wrap {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.button {
  position: relative;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
  padding: 0.7em 1.5em 0.7em;
  border-radius: 500px;
  background-color: #912846;
  cursor: pointer;
  z-index: 100;
}
.button img {
  height: 1.5em;
  margin: 0em 0em -0.3em 0.5em;
}
@media screen and (min-width: 240px) and (max-width: 320px) {
  body {
    font-size: 12px; } }
@media screen and (min-width: 320px) and (max-width: 360px) {
  body {
    font-size: 12px; } }
@media screen and (min-width: 360px) and (max-width: 375px) {
  body {
    font-size: 13px; } }
@media screen and (min-width: 375px) and (max-width: 414px) {
  body {
    font-size: 14px; } }
@media screen and (min-width: 414px) and (max-width: 480px) {
  body {
    font-size: 15px; } }
@media screen and (min-width: 480px) and (max-width: 568px) {
  body {
    font-size: 16px; } }
@media screen and (min-width: 568px) and (max-width: 640px) {
  body {
    font-size: 17px; } }
@media screen and (min-width: 640px) and (max-width: 736px) {
  body {
    font-size: 18px; } }
@media screen and (min-width: 736px) and (max-width: 768px) {
  body {
    font-size: 19px; } }
@media screen and (min-width: 768px) and (max-width: 800px) {
  body {
    font-size: 20px; } }
@media screen and (min-width: 800px) and (max-width: 906px) {
  body {
    font-size: 21px; } }
@media screen and (min-width: 906px) and (max-width: 1024px) {
  body {
    font-size: 22px; } }
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  body {
    font-size: 24px; } }
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body {
    font-size: 26px; } }
@media screen and (min-width: 1600px) {
  body {
    font-size: 26px; } }

.logo,
.wrap,
.bg-portrait,
.text-1,
div.text-3,
span.text-3,
.text-4-p,
.text-4-l,
.buttons {
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
}
.bg-portrait {
    background-image: url("../img/bg_p.jpg");
}
.logo {
    width: 100%;
    background-image: url("../img/logo.png");
    background-size: auto 100%;
    background-position: center;
}
.text-1 {
    background-color: #891345;
}
.text-1-p {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: url("../img/text-1-p.png");
    background-size: auto 76%;
    background-repeat: no-repeat;
    background-position: center;
}
.text-1-l {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: url("../img/text-1-l.png");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: 1em center;
}
.text-2-l {
    position: relative;
    display: inline-block;
    height: 10%;
    width: 40%;
    top: 49%;
    background-image: url("../img/text-2-l.png");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: 1em center;
}
.text-2-p {
    position: relative;
    display: inline-block;
    height: 20%;
    width: 100%;
    top: 0;
    background-image: url("../img/text-2-p.png");
    background-size: auto 76%;
    background-repeat: no-repeat;
    background-position: center;
}
div.text-3 {
    background-color: #c5c6c5;
}
span.text-3 {
    height: 100%;
    width: 100%;
    background-image: url("../img/text-3.png");
    background-size: 80% auto;
}
.text-4-p {
    height: 27%;
    width: 100%;
    background-color: #000;
    background-image: url("../img/text-4-p.png");
    background-size: auto 80%;
    background-position: center;
    bottom: -47%;
    left: 0;
}
.text-4-l {
    height: 15%;
    width: 48%;
    background-color: #000;
    background-image: url("../img/text-4-l.png");
    background-size: 92% auto;
    background-position: 1em center;
    top: 84%;
    left: 0;
}
.buttons {
    width: 100%;
    text-align: center;
}
.button {
    white-space: nowrap;
    margin: 0 0.5em;
}
.button1 {

}
.button2 {

}
/*landscape*/
@media screen and (min-aspect-ratio: 1024/754) {
    .wrap {
        background-color: #000;
        background-position: center;
    }
    .bg-portrait {
        width: 100%;
        height: 100%;
        background-position: right center;
        background-size: auto 85%;
    }
    .logo {
        height: 17%;
        top: 5%;
        background-position: 1em center;
    }
    .text-1 {
        height: 15%;
        top: 27%;
        width: 32%;
    }
    .text-1-p,
    .text-2-p,
    .text-4-p {
        display: none;
    }    
    div.text-3 {
        height: 9%;
        width: 46%;
        bottom: 20%;
        left: 0;
    }
    span.text-3 {
        background-position: 1em center;
    }
    .buttons {
        right: 0;
        bottom: 15%;
        width: 50%;
        text-align: center;
        font-size: 0.6em;
    }
}
/*portrait*/
@media screen and (max-aspect-ratio: 1024/754) {
    .wrap {
        background-image: url("../img/bg.jpg");
        background-position: center;
    }
    .bg-portrait {
        top: 21%;
        height: 35%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .logo {
        height: 32%;
        top: -55%;
    }
    .text-1 {
        height: 20%;
        width: 100%;
        top: -20%;
    }
    .text-1-l,
    .text-2-l,
    .text-4-l {
        display: none;
    }
    div.text-3 {
        height: 20%;
        width: 100%;
        bottom: -20%;
    
        left: 0;
}
    span.text-3 {
        background-position: center;
    }
    .buttons {
        bottom: -90%;
        width: 100%;
        text-align: center;
    
        left: 0;
}
}